asgiref==3.5.1
blessings==1.7
certifi==2021.10.8
charset-normalizer==2.0.12
cssselect==1.1.0
curtsies==0.3.10
cwcwidth==0.1.6
dj-database-url==0.5.0
Django==4.0.4
django-cuser==2017.3.16
django-heroku==0.3.1
greenlet==1.1.2
gunicorn==20.1.0
idna==3.3
lxml==4.8.0
Pillow==9.1.0
polib==1.1.1
psycopg2==2.9.3
psycopg2-binary==2.9.3
Pygments==2.12.0
pyquery==1.4.3
python-dotenv==0.20.0
pyxdg==0.27
requests==2.27.1
six==1.16.0
sqlparse==0.4.2
urllib3==1.26.9
whitenoise==6.1.0
