{% extends "base_registration.html" %}
{% load i18n %}




{% block content %}
<div class="password-reset-portal">
  <form action="" method="post">
    {% csrf_token %}
    {% if form.email.errors %}
    {{ form.email.errors }}
    {% endif %}
    <p>{% trans 'Enter the email address of the user who needs PIN reset.' %}</p>
    <p>{% trans 'This could be yours. Or, your friend who forgot PIN or username.' %}</p>
    <p>{{ form.email }}</p>
    <input type="submit" class="btn btn-success btn-lg" value="{% trans 'Email Reset Link' %}">
  </form>
</div>
{% endblock %}

{% block footer %}
<div class="content-wrap">
</div>
<footer class="footer">© 2022 Japan Kauri Education Trust</footer>
</div>
{% endblock %}