{% extends "base_registration.html" %}
{% load i18n %}

{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{%
    translate 'Documentation' %}</a> / {% endif %}{% translate 'Change password' %} / <a
    href="{% url 'admin:logout' %}">{% translate 'Log out' %}</a>{% endblock %}

{% block breadcrumbs %}


<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
    &rsaquo; {% translate 'Password change' %}
</div>
{% endblock %}

{% if user.is_authenticated %}
{% block content %}
<div class="password-change-done">

    <h4>{% trans 'Your PIN has been changed.' %}</h4>
    <br>
    <div>
        <a class='link' href="{% url 'logout' %}">{% trans 'Please logout.' %}</a>
    </div>
</div>
{% endblock %}
{% endif %}

{% block footer %}
<div class="content-wrap"></div>
<div>
    <footer class="footer">© 2022 Japan Kauri Education Trust</footer>
</div>
{% endblock %}