{% extends "base_registration.html" %}
{% load i18n %}



{% block content %}
<div class='password-reset-confirm'>
    {% if validlink %}
    <p>{% trans 'Please enter (and confirm) your new PIN.' %}</p>
    <form action="" method="post">
        {% csrf_token %}
        <table class="password-reset-form">
            <tr class="form-control-lg">
                <td>{{ form.new_password1.errors }}
                    <label for="id_new_password1">New PIN:</label>
                </td>
                <td>{{ form.new_password1 }}</td>
            </tr>
            <tr class="form-control-lg">
                <td>{{ form.new_password2.errors }}
                    <label for="id_new_password2">Confirm PIN:</label>
                </td>
                <td>{{ form.new_password2 }}</td>
            </tr>
            <tr>
                <td></td>
                <td><input class="btn btn-success btn-lg submit-button" type="submit" value="Change PIN" /></td>
            </tr>
        </table>
    </form>
    {% else %}
    <h1>{% trans 'PIN reset failed' %}</h1>
    <p>{% trans 'The PIN reset link was invalid, possibly because it has already been used. Please request a new PIN
        reset.' %}</p>
    {% endif %}
</div>
{% endblock %}

{% block footer %}
<div class="content-wrap"></div>
<div>
    <footer class="footer">© 2022 Japan Kauri Education Trust</footer>
</div>
{% endblock %}