{% extends "base_registration.html" %}
{% load i18n %}

{% block lang%}
{% get_current_language as CURRENT_LANGUAGE %}
{% get_available_languages as AVAILABLE_LANGUAGES %}
{% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
<div class="languages lang-section">
  <ul class="languages">
    {% for language in languages %}
      
        <a class='link' href="/{{ language.code }}/accounts/password_change"
          {% if language.code == CURRENT_LANGUAGE %} class="active"{% endif %}>
          {{ language.name_local }}
        </a><br>
    {% endfor %}
  </ul>
</div>
{% endblock %}



{% block content %}
{% if user.is_authenticated %}
<div id="content-main">
    <div class="password-change-form">
        <form method="post" action="">{% csrf_token %}
            <div>

                {% if form.errors %}
                <p class="errornote error-alert" >
                    {% if form.errors.items|length == 1 %}
                    {% translate "Please correct the error below." %}
                    {% else %}
                    {% translate "Please correct the errors below." %}{% endif %}
                </p>
                {% endif %}

                <fieldset class="module aligned wide">

                    <div class="form-row form-control-md">
                        {{ form.old_password.errors }}
                        <label for="old_password">Old PIN:</label>
                        {{ form.old_password }}
                    </div>
                    <br>
                    <div class="form-row form-control-md">
                        {{ form.new_password1.errors }}
                        <label for="id_new_password1">New PIN:</label>
                        {{ form.new_password1 }}
                        {% if form.new_password1.help_text %}
                        <div class="help">{{ form.new_password1.help_text|safe }}</div>
                        {% endif %}
                    </div>

                    <div class="form-row form-control-md">
                        <!-- {{ form.new_password2.errors }} -->
                        <label for="id_new_password2">Confirm PIN:</label>
                        {{ form.new_password2 }}
                        {% if form.new_password2.help_text %}
                        <div class="help">{{ form.new_password2.help_text|safe }}</div>
                        {% endif %}
                    </div>

                </fieldset>

                <div class="submit-row">
                    <input type="submit" class="btn btn-success btn-lg submit-button" value="{% trans 'Change my PIN' %}"
                        class="default">
                </div>

            </div>
        </form>
        <br>
        <br>
        <a class='link' href="{% url 'logout'%}">{% trans 'Changed your mind? Logout.' %}</a><br><br>
        <!-- <a class='link' href="{% url 'password_reset'%}">{% trans 'If someone else needs PIN reset, click here.'%}</a> -->
    </div>

    {% else %}
    <a class='link' href="{% url 'login'%}">{% trans 'Click here to login.' %}</a>
    {% endif %}
</div>

{% endblock %}


{% block footer %}
<div class="content-wrap"></div>
<div>
    <footer class="footer">© 2022 Japan Kauri Education Trust</footer>
</div>
{% endblock %}