{% extends 'base.html' %}
{% load i18n %}

{% block content %}

{% get_current_language as CURRENT_LANGUAGE %}
{% get_available_languages as AVAILABLE_LANGUAGES %}
{% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
<div class="languages lang-section">
  <ul class="languages">
    {% for language in languages %}
      
        <a class='link' href="/{{ language.code }}/interaction"
          {% if language.code == CURRENT_LANGUAGE %} class="active"{% endif %}>
          {{ language.name_local }}
        </a><br>
    {% endfor %}
  </ul>
</div>

    <div>
        <form action="{% url 'classroom_list' %}" class="find-child-button">
            <button type="submit" class="btn btn-success btn-lg">{% trans 'Find Your Child' %}</button>
            
        </form>
    </div>

{% endblock %}