{% extends 'base.html' %}
{% load i18n %}

{% block header %}
<h1>{{ classroom }}</h1>
{% endblock %}

{% block content %}

<div class="student-list">
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% if s_list %}
    {% for student in s_list %}
  
        <form action="{% url 'checkout' student.id %}">
            <button type="submit" class="btn btn-success btn-lg student-buttons">{{ student.first_name}}</button>
        </form>
        {% endfor %}
    
    {% else %}
    <p>{% trans 'There is no student in this class.' %}</p>
    {% endif %}

</div>

<div class="previous-page">
    <a class="link" href="{% url 'classroom_list' %}">{% trans 'Previous Page' %}</a>
    </div>
{% endblock %}