{% extends 'base.html' %}
{% load i18n %}

{% block header %}
<h1>{{ classroom }}</h1>
{% endblock %}

{% block content %}

{% get_current_language as CURRENT_LANGUAGE %}
{% get_available_languages as AVAILABLE_LANGUAGES %}
{% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
<div class="languages lang-section">
  <ul class="languages">
    {% for language in languages %}
      
        <a class='link' href="/{{ language.code }}/interaction/classroom_list/{{classroom.id}}"
          {% if language.code == CURRENT_LANGUAGE %} class="active"{% endif %}>
          {{ language.name_local }}
        </a><br>
    {% endfor %}
  </ul>
</div>

<div class="student-list">
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% if s_list %}
    {% for student in s_list %}
  
        <form action="{% url 'checkout' student.id %}">
            <button type="submit" class="btn btn-success btn-lg student-buttons">{{ student.first_name}}</button>
        </form>
        {% endfor %}
    
    {% else %}
    <p>{% trans 'There is no student in this class.' %}</p>
    {% endif %}

</div>

<div class="previous-page">
    <a class="link" href="{% url 'classroom_list' %}">{% trans 'Previous Page' %}</a>
    </div>
{% endblock %}